<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Expenses Website</title>
    <link rel="stylesheet" href="/public/styles.css"/>
    <script src="/app.js" defer></script>
</head>
</html>