<nav>
    <a href="/expenses"><button>Expenses Page</button><br><br>
    <a href="/expenses/new"><button>Click here to add a NEW Expense!</button></a><br><br>
    <a href="/user/logout"><button>Log Out</button></a><br><br>
</nav>