<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    <%- include("../partials/nav.ejs") %>

    <form action="/user/signup" method="post">
        <label> USERNAME: <input type="text" name="username" required placeholder="doesn't matter what it is"></label>
        <label> PASSWORD: <input type="password" name="password" required placeholder="doesn't matter what it is"></label>

        <input type="submit" value="Create Account">
    </form>
</body>
</html>